.join_sec {
    background-color: #373131;
}

/* 홈버튼 */
.join_sec>.home_btn {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 10px;
}

.join_sec>.home_btn>a>img {
    width: 60px;
}

.join_wrap {
    width: 768px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join_logo {
    margin-top: 75px;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: bold;
    color: #fff;
}


/* 폼태그 시작 */

.join_info_wrap {
    width: 460px;
    padding: 20px 0;
    box-sizing: border-box;
}

.join_info {
    margin-bottom: 20px;
}

.join_title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.joinput_box>input {
    width: 100%;
    height: 50px;
    padding: 11px 14px;
    box-sizing: border-box;
}


.bir_wrap {
    display: flex;
    justify-content: space-between;
}

.bir_wrap>div {
    width: calc(33.333% - 10px);
    height: 54px;
    background-color: #fff;
    display: flex;
    align-items: center;
}

.birthy_box>input {
    width: 100%;
    height: 100%;
    padding: 11px 14px;
    box-sizing: border-box;
}

.birthm_box>select {
    width: 100%;
    height: 100%;
    padding: 11px 14px;
    box-sizing: border-box;
}

.birthd_box>input {
    width: 100%;
    height: 100%;
    padding: 11px 14px;
    box-sizing: border-box;
}

.sex_box {
    width: 100%;
    height: 54px;
    background-color: #fff;
}

.sex_box>select {
    width: 100%;
    height: 100%;
    padding: 11px 14px;
    box-sizing: border-box;
}

.join_btn {
    width: 460px;
    line-height: 50px;
    background-color: #AE8C68;
    border: 0;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 75px;
}

@media(max-width:800px) {

    

    .join_wrap {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .join_wrap>form {
        width: 80%;
    }

    .join_info_wrap {
        width: 100%;
        padding: 20px 0;
        box-sizing: border-box;
    }

    .join_btn {
        width: 100%;
        line-height: 50px;
        background-color: #AE8C68;
        border: 0;
        font-size: 18px;
        font-weight: bold;
        color: #fff;
        margin-bottom: 75px;
    }
}

@media(max-width:600px) {
    /* 홈버튼 */
    .join_sec>.home_btn {
        width: 100%;
        position: absolute;
        top: 20px;
        left: 10px;
    }

    .join_sec>.home_btn>a>img {
        width: 40px;
    }
    .join_logo {
        margin-top: 75px;
        margin-bottom: 20px;
        font-size: 40px;
        font-weight: bold;
        color: #fff;
    }
}