

/* 리스트 시작 */
.notice_list{
    margin-bottom: 20px;
}
.notice_list_main table{
    width: 100%;
    text-align: center;
}
.notice_list_main thead td{
    padding: 15px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #5b5b5b;     
    border-top: 1px solid #e5e5e5;
    white-space: nowrap;     
}
.notice_list_main tbody td{
    padding: 15px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    vertical-align: middle;
}


@media(max-width:800px){
    .notice_list_main thead td{
        font-size: 13px;    
    }
    .notice_list_main tbody td{
        font-size: 12px;
    }
}