<main class="direction">
    <!-- 섹션1 메뉴 타이틀,메뉴바 시작 -->
    <div class="menubar">
        <div class="subpage_menutitle introbg">
            <h2>야시장안내</h2>
            <p>단순한 스트리트마켓이 아니다!글로벌하게 먹고, 마시고, 즐길 수 있는 대한민국 No.1 야시장</p>
        </div>
        <div class="m_subpage_list_tit">
            <p>오시는길</p>
        </div>
        <div class="subpage_list_menu">
            <ul>
                <li><a href="/introsub" class="subpage_list_txt">야시장안내</a></li>
                <li><a href="/locationsub" class="subpage_list_txt">매대위치</a></li>
                <li><a href="/direction"class="subpage_list_txt">오시는길</a></li>
            </ul>
        </div>
    </div>
    <!-- 섹션2 야시장 소개 시작 -->
    <section class="subpage_cont w1100 sub_p60">
        <div class="subpage_con_title">
            <h1>오시는길</h1>
            <ul>
                <li class="homepage"></li>
                <li class="location">야시장 소개</li>
                <li class="location">오시는길</li>
            </ul>
        </div>
        <!-- 오시는길 컨텐츠 시작 -->
        <div class="market_direction">
            <!-- 마켓주소 -->
            <ul class="market_info">
                <li>대구 중구 큰장로26길 45</li>
                <li>053-256-6341</li>
            </ul>
            <!-- 마켓지도 -->
            <div class="market_map">
                <div class="find_load"><a href="https://map.kakao.com/link/to/서문야시장,35.8685199638687,128.58072584191453">야시장 오시는길 찾기</a></div>
            </div>
            <!-- 교통수단 -->
            <ul class="Transportation_info_wrap">
                <li class="icon bus_icon"></li>
                <li>
                    <h3>버스이용시</h3>
                    <p>
                        156 240 300 309 323 405 425 523 (동산네거리방면) 524 623 651 653 724 808 (금호방면) 808 (대구대방면) 836 840 840 909 991 (한의대-대신동-한의대)(부적지구경유)
                    </p>
                </li>
            </ul>
            <ul class="Transportation_info_wrap sub">
                <li class="icon sub_icon"></li>
                <li>
                    <h3>지하철이용시</h3>
                    <p>서문시장역,신남역,달성공원역</p>
                </li>
            </ul>
        </div>
    </section>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=510d0389eb4ad0d1f43eafa3f8510baf"></script>
    <script src="js/directionmap.js"></script>
</main>
