    <!-- 메인시작 -->
    <main>
        <!-- 메인비쥬얼 스와이퍼 -->
        <section class="main_visual">
            <div class="main_visual_slides">
                <div class="mv_slide mv_bg1"></div>
                <div class="mv_slide mv_bg2"></div>
                <div class="mv_slide mv_bg3"></div>
            </div>
            <ul class="mv_btn_wrap">
                <li class="mv_btn mv_btn_active"></li>
                <li class="mv_btn"></li>
                <li class="mv_btn"></li>
            </ul>
        </section>
        <script src="js/mainvisual.js"></script>

        <!-- 섹션1 공지,행사안내 섹션 -->
        <section class="sec1_mboard">
            <div class="mboard_inner w1100">
                <div class="notice">
                    <h1 class="pont20">공지사항</h1>
                    <ul class="n_cont pont14">
                        <li><a href="">서문야시장 추석 일정 공지</a></li>
                        <li><a href="">9월 5일 서문야시장 임시휴장</a></li>
                        <li><a href="">서문야시장 푸드트럭 셀러 모집</a></li>
                    </ul>
                    <a href="/notice" class="n_more pont12">MORE</a>
                </div>
                <div class="e_info">
                    <h1 class="pont20">행사안내</h1>
                    <ul class="info_cont pont14">
                        <li><a href="">[행사안내] 서문야시장 상설무대 공연안내 05 07일</a></li>
                        <li><a href="">[행사안내] 서문야시장 상설무대 공연안내 05월 06일</a></li>
                        <li><a href="">[행사안내] 서문야시장 상설무대 공연안내 05월 01일</a></li>
                    </ul>
                    <a href="" class="info_more pont12">MORE</a>
                </div>
            </div>
        </section>
        <!-- 섹션2 시장안내 메뉴 섹션 -->
        <section class="sec2_menulist">
            <div class="menulist_inner w1100">
                <ul>
                    <li class="menu menu1">
                        <div class="under_bg">
                            <a href="">
                                <div class="menu_txt_wrap">
                                    <h1>야시장안내</h1>
                                    <p>
                                        밤마다 펼쳐지는<br>
                                        버라이어티한 세상!
                                    </p>   
                                </div>
                                <span class="mask"></span>
                            </a>
                        </div>
                        <div id="side_menu1" class="side_menu w1100">
                            <div class="s_m_title">
                                <h1>야시장안내</h1>
                                <a href="" class="s_m_more">더 알아보기</a>
                            </div>
                            <ul class="s_m_con">
                                <li class="list1">
                                    <strong>夜한 테마파크!</strong>
                                    <p>
                                        총거리 350M에 달하는
                                        대형 야시장입니다
                                    </p>
                                </li>
                                <li>
                                    <strong>Night Party</strong>
                                    <p>
                                        서문시장 야시장은 대구의 밤문화와 다양한 첨단, 문화예술이 복합되어
                                        어디에서도 찾을 수 없는 경험을 제공합니다.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu menu2">
                        <div class="under_bg">
                            <a href="">
                                <div class="menu_txt_wrap">
                                    <h1>시장안내</h1>
                                    <p>
                                        대구 제1의 전통시장<br>
                                        을 만나보세요
                                    </p>   
                                </div>
                                <span class="mask"></span>
                            </a>
                        </div>
                        <div id="side_menu2" class="side_menu w1100">
                            <div class="s_m_title">
                                <h1>시장안내</h1>
                                <a href="" class="s_m_more">더 알아보기</a>
                            </div>
                            <ul class="s_m_con">
                                <li class="list2">
                                    <strong>국내 3대 명품시장</strong>
                                    <p>
                                        경상권 최대 시장으로써
                                        다양한 먹을거리와 상품들로 유명한 전통시장입니다.
                                    </p>
                                </li>
                                <li class="list2">
                                    <strong>대규모 상권</strong>
                                    <p>
                                        서문시장은 약 5,522여 개의 점포와 3만여명의 
                                        상인들이 상주하고 있습니다.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu menu3">
                        <div class="under_bg">
                            <a href="">
                                <div class="menu_txt_wrap">
                                    <h1>먹거리살거리</h1>
                                    <p>
                                        눈과 입이 즐거운<br>
                                        서문야시장
                                    </p>   
                                </div>
                                <span class="mask"></span>
                            </a>
                        </div>
                        <div id="side_menu3" class="side_menu w1100">
                            <div class="s_m_title">
                                <h1>먹거리살거리</h1>
                                <a href="" class="s_m_more">더 알아보기</a>
                            </div>
                            <ul class="s_m_con">
                                <li class="list3">
                                    <strong>다양한 먹거리</strong>
                                    <p>
                                        퓨전&글로벌,한국정통식,스트리트푸드 등 다양한 먹거리를
                                        즐길 수 있습니다.
                                    </p>
                                </li>
                                <li>
                                    <strong>다양한 살거리</strong>
                                    <p>
                                        애견,소품,잡화류,전통예물 등 여러 상품들을
                                        만나보실 수 있습니다.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu menu4">
                        <div class="under_bg">
                            <a href="">
                                <div class="menu_txt_wrap">
                                    <h1>볼거리</h1>
                                    <p>
                                        오감만족의 완성!<br>
                                        날마다 즐거운 행사
                                    </p>   
                                </div>
                                <span class="mask"></span>
                            </a>
                        </div>
                        <div id="side_menu4" class="side_menu w1100">
                            <div class="s_m_title">
                                <h1>볼거리</h1>
                                <a href="" class="s_m_more">더 알아보기</a>
                            </div>
                            <ul class="s_m_con">
                                <li class="list4">
                                    <strong>미디어파사드</strong>
                                    <p>
                                        외벽에 다양한 콘텐츠 영상을 투사하는 첨단 예술
                                    </p>
                                </li>
                                <li class="list4">
                                    <strong>미디어아트</strong>
                                    <p>
                                        마치 불꽃을 연상시키는 미디어아트
                                    </p>
                                </li>
                                <li>
                                    <strong>포토존</strong>
                                    <p>
                                        야시장 공식 포토존이 자리하고 있습니다.
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <script src="js/section2.js"></script>
        <!-- 섹션3 포토 갤러리 시작 -->
        <section class="sec3_photo">
            <div class="sec3_photo_wrap w1100">
                <div class="photo_title_box">
                    <h1>포토갤러리</h1>
                    <h4>서문야시장 활동사진을<br>
                        확인하실 수 있습니다.
                    </h4>
                    <div class="p_more"><a href="">더보기</a></div>
                </div>
                <div class="p_slides">
                    <div class="p_slide first"><img class="first" src="img/thumb-e6157e4b7d8becf4c1bf93028b69d46d_1496049803_5923_600x450.jpg" alt=""></div>
                    <div class="p_slide"><img src="img/menu1.jpg" alt=""></div>
                    <div class="p_slide"><img src="img/menu2.jpg" alt=""></div>
                    <div class="p_slide"><img src="img/menu3.jpg" alt=""></div>
                    <div class="p_slide"><img src="img/menu4.jpg" alt=""></div>
                    <div class="p_slide"><img src="img/night-market-671072_640.jpg" alt=""></div>
                    <div class="p_slide"><img src="img/thumb-e6157e4b7d8becf4c1bf93028b69d46d_1496049839_2059_600x450.jpg" alt=""></div>
                    <div class="p_slide last"><img src="img/thumb-e6157e4b7d8becf4c1bf93028b69d46d_1496050101_4032_600x450.jpg" alt=""></div>
                </div>
                <div class="p_btn_wrap">    
                    <div class="p_prev_btn slide_btn"><img src="img/btn_mphoto_prev.gif" alt=""></div>
                    <div class="p_next_btn slide_btn"><img src="img/btn_mphoto_next.gif" alt=""></div>
                </div>   
            </div>
        </section>
        <script src="js/photo.js"></script>
        <!-- 섹션 4 서비스 메뉴 시작  -->
        <section class="service_menu">
            <ul class="service_list w1100">
                <li><a class="se_li1" href="">
                    <strong>비대면주문서비스</strong>
                    <p>코로나 극복을 위한 비대면 서비스</p>
                </a></li>
                <li><a class="se_li2" href="">
                    <strong>주변관광지</strong>
                    <p>야시장 주변 관광명소</p>
                </a></li>
                <li><a class="se_li3" href="">
                    <strong>오시는길</strong>
                    <p>서문시장 오시는 길을 안내 합니다</p>
                </a></li>
                <li><a class="se_li4" href="">
                    <strong>문의 및 제안</strong>
                    <p>궁금하신 사항이나 제한사항 문의</p>
                </a></li>
            </ul>
        </section>
        <!-- 섹션5 배너 시작 -->
        <section class="banner">
            <div class="banner_wrap w1100">
                <span class="b_img"><img src="img/salesman.png" alt=""></span>
                <div class="b_con_wrap">
                    <div class="b_title_box">
                        <p>서문야시장과 함께 할 운영자 및 셀러를 모집합니다.</p>
                    </div>
                    <div class="b_app_box">
                        <a href="">신청하기</a>
                    </div>
                </div>
            </div>
        </section>  
        <!-- 섹션 6 패밀리 사이트 시작 -->
        <section class="fam_banner">
            <ul class="fbanner_inner w1100">
                <li><a href=""><img src="img/footer_banner01.jpg" alt=""></a></li>
                <li><a href=""><img src="img/footer_banner02.jpg" alt=""></a></li>
                <li><a href=""><img src="img/footer_banner03.jpg" alt=""></a></li>
                <li><a href=""><img src="img/footer_banner05.jpg" alt=""></a></li>
            </ul>
        </section>
    </main>
