
    <!-- 메인시작 -->
    <main class="intro_market">
        <!-- 섹션1 메뉴 타이틀,메뉴바 시작 -->
        <div class="menubar">
            <div class="subpage_menutitle introbg">
                <h2>야시장안내</h2>
                <p>단순한 스트리트마켓이 아니다!글로벌하게 먹고, 마시고, 즐길 수 있는 대한민국 No.1 야시장</p>
            </div>
            <div class="m_subpage_list_tit">
                <p>야시장안내</p>
            </div>
            <div class="subpage_list_menu">
                <ul>
                    <li><a href="/introsub" class="subpage_list_txt">야시장안내</a></li>
                    <li><a href="/locationsub" class="subpage_list_txt">매대위치</a></li>
                    <li><a href="/direction"class="subpage_list_txt">오시는길</a></li>
                </ul>
            </div>
        </div>
        <!-- 섹션2 야시장 소개 시작 -->
        <section class="subpage_cont w1100 sub_p60">
            <div class="subpage_con_title">
                <h1>야시장안내</h1>
                <ul>
                    <li class="homepage"></li>
                    <li class="location">야시장 소개</li>
                    <li class="location">야시장 안내</li>
                </ul>
            </div>
            <!-- 소개 컨텐츠 시작 -->
            <div class="guide_con">
                <div class="guide_img"><img src="img/sub03_01_s011.png" alt=""></div>
                <div class="guide_text">
                    <h1>전 세계인과 함께하는, 대한민국 대표 야시장<br>
                        여러분과 함께 만들어가는 夜한 테마파크!</h1>
                    <p>
                        서문시장 야시장은 2016년 6월에 개장한,총거리 350M에 달하는 대형 야시장입니다. <br>
                        우리나라 3대 시장인 서문시장의 밤거리를 무대로 하여총 80대의 매대에서 다양한 먹거리,<br> 
                        살거리를 판매하며매일 저녁, 시민과 관광객에게 즐거움을 선사하는복합문화공간입니다.<br>
                        특히, 먹거리 일색인 타 야시장과는 달리먹거리, 볼거리, 즐길거리의 3대 요소가<br> 
                        연중으로 펼쳐지는마법같은 관광지이기도 합니다.

                    </p>
                </div>
            </div>
            <div class="guide_con">
                <div class="guide_img mobile"><img src="img/sub03_01_s021.png" alt=""></div>
                <div class="guide_text">
                    <h1>연중무휴로 펼쳐지는 Fantastic Night Party!<br>
                        야시장을 통한 성공적인 창업상단 육성!</h1>
                    <p>
                        서문시장 야시장은 대구의 밤문화와 다양한 첨단, 문화예술이 복합되어어디에서도 찾을 수 없는 경험을 <br>
                        제공합니다.글로벌, 퓨전 먹거리를 비롯하여 대구에서만 찾을 수 있는 독특한 음식우리의 추억과 감성을<br> 
                        살거리를 판매하며매일 저녁, 시민과 관광객에게 즐거움을 선사하는복합문화공간입니다.<br>
                        자극하는 다양한 볼거리, 살거리가 즐비합니다.대구로 방문하신다면<br> 
                        반드시 찾아가봐야 할 1순위는 단연 ‘서문시장 야시장’입니다.
                    </p>
                </div>
                <div class="guide_img web"><img src="img/sub03_01_s021.png" alt=""></div>
            </div>
        </section>
    </main>