<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/common/reset.css">
    <link rel="stylesheet" href="css/subpagecommon.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/introsub.css">
    <link rel="stylesheet" href="css/notice.css">
    <link rel="stylesheet" href="css/detailsnotice.css">
    <link rel="stylesheet" href="css/regis&retouch.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/join.css">
    <link rel="stylesheet" href="css/photolist.css">
    <link rel="stylesheet" href="css/location.css">
    <link rel="stylesheet" href="css/direction.css">
    <link rel="stylesheet" href="css/sellerregis.css">
    <link rel="stylesheet" href="css/sellerdetail.css">
</head>

<body>
    <%- include('header')%>
    <%- body %>
    <%- include('footer')%>
    <script src="js/header.js"></script>
    <script src="js/commonsubh.js"></script>
</body>

</html>