<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TLSPM5SDCS"></script>
    <!-- 쥐에이포 -->
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-TLSPM5SDCS');
    </script>
    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-K3JJ5J99');
    </script>
    <!-- End Google Tag Manager -->
    <title>메인페이지</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/common/reset.css">
    <link rel="stylesheet" href="css/subpagecommon.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/introsub.css">
    <link rel="stylesheet" href="css/notice.css">
    <link rel="stylesheet" href="css/detailsnotice.css">
    <link rel="stylesheet" href="css/regis&retouch.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/join.css">
    <link rel="stylesheet" href="css/photolist.css">
    <link rel="stylesheet" href="css/location.css">
    <link rel="stylesheet" href="css/direction.css">
    <link rel="stylesheet" href="css/sellerregis.css">
    <link rel="stylesheet" href="css/sellerdetail.css">

</head>

<body>
    <div class="header"><%- include('header')%></div>
    <%- body %>
    <div class="footer"><%- include('footer')%></div>
    <script src="js/header.js"></script>
    <script src="js/commonsubh.js"></script>
    <script src="js/joinhf.js"></script>
</body>

</html>