<main>
    <!-- 섹션1 메뉴 타이틀,메뉴바 시작 -->
    <div class="menubar">
        <div class="subpage_menutitle introbg">
            <h2>야시장안내</h2>
            <p>단순한 스트리트마켓이 아니다!글로벌하게 먹고, 마시고, 즐길 수 있는 대한민국 No.1 야시장</p>
        </div>
        <div class="subpage_list_menu">
            <ul>
                <li><a href="/introsub">야시장안내</a></li>
                <li><a href="/locationsub">매대위치</a></li>
                <li><a href="">오시는길</a></li>
            </ul>
        </div>
    </div>
    <!-- 섹션2 야시장 소개 시작 -->
    <section class="subpage_cont w1100 sub_p60">
        <div class="subpage_con_title">
            <h1>매대위치</h1>
            <ul>
                <li class="homepage"></li>
                <li class="location">야시장 소개</li>
                <li class="location">매대위치</li>
            </ul>
        </div>
        <!-- 매대위치 컨텐츠 시작 -->
        <div class="store_location">
            <!-- 매대지도 -->
            <div class="location_map_bg">
                <div class="map_pin_point">
                    <span>현풍닭강정</span> 
                </div>
            </div>
            <!-- 매대정보 리스트 -->
            <div class="shop_list web">
                <table>
                    <colgroup>
                        <col width="30%">
                        <col width="50%">
                        <col width="20%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td><img src="img/menu2.jpg" alt=""></td>
                            <td class="left_td">
                                <h3>현풍닭강정</h3>
                                <span>위치:서문야시장</span>
                            </td>
                            <td>
                                <a href="">상세보기</a>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/menu3.jpg" alt=""></td>
                            <td class="left_td">
                                <h3>반쎄오</h3>
                                <span>위치:서문야시장</span>
                            </td>
                            <td>
                                <a href="">상세보기</a>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/menu3-3-3.jpg" alt=""></td>
                            <td class="left_td">
                                <h3>무뼈닭발</h3>
                                <span>위치:서문야시장</span>
                            </td>
                            <td>
                                <a href="">상세보기</a>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="img/menu2.jpg" alt=""></td>
                            <td class="left_td">
                                <h3>해담분식</h3>
                                <span>위치:서문야시장</span>
                            </td>
                            <td>
                                <a href="">상세보기</a>
                            </td>
                        </tr>
                        <tr class="last">
                            <td><img src="img/menu2.jpg" alt=""></td>
                            <td class="left_td">
                                <h3>철판꽃삼겹김밥</h3>
                                <span>위치:서문야시장</span>
                            </td>
                            <td>
                                <a href="">상세보기</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 매대정보 리스트 페이징 박스 -->
                <div class="paging">
                    <a href="" class="preview">1</a>
                    <a href="">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href="" class="next">1</a>
                </div>
            </div>
            <!-- 모바일용 테이블 -->
            <div class="shop_list mobile">
                <table>
                    <!-- <colgroup>
                        <col width="100%">
                    </colgroup> -->
                    <tbody>
                        <tr>
                            <td>
                                <ul class="cont_box">
                                    <li><img src="img/menu2.jpg" alt=""></li>
                                    <li>
                                        <h3>현풍닭강정</h3>
                                    </li>
                                    <li><span>위치:서문야시장</span></li>
                                    <li><a href="">상세보기</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="cont_box">
                                    <li><img src="img/menu3.jpg" alt=""></li>
                                    <li>
                                        <h3>반쎄오</h3>
                                    </li>
                                    <li><span>위치:서문야시장</span></li>
                                    <li><a href="">상세보기</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="cont_box">
                                    <li><img src="img/menu3-3-3.jpg" alt=""></li>
                                    <li>
                                        <h3>무뼈닭발</h3>
                                    </li>
                                    <li><span>위치:서문야시장</span></li>
                                    <li><a href="">상세보기</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="cont_box">
                                    <li><img src="img/menu2.jpg" alt=""></li>
                                    <li>
                                        <h3>현풍닭강정</h3>
                                    </li>
                                    <li><span>위치:서문야시장</span></li>
                                    <li><a href="">상세보기</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="cont_box">
                                    <li><img src="img/menu2.jpg" alt=""></li>
                                    <li>
                                        <h3>현풍닭강정</h3>
                                    </li>
                                    <li><span>위치:서문야시장</span></li>
                                    <li><a href="">상세보기</a></li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="cont_box">
                                    <li><img src="img/menu2.jpg" alt=""></li>
                                    <li>
                                        <h3>현풍닭강정</h3>
                                    </li>
                                    <li><span>위치:서문야시장</span></li>
                                    <li><a href="">상세보기</a></li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 매대정보 리스트 페이징 박스 -->
                <div class="paging">
                    <a href="" class="preview">1</a>
                    <a href="">1</a>
                    <a href="">2</a>
                    <a href="">3</a>
                    <a href="">4</a>
                    <a href="">5</a>
                    <a href="" class="next">1</a>
                </div>
            </div>
        </div>
    </section>
</main>