<main>
    <!-- 섹션1 메뉴 타이틀,메뉴바 시작 -->
    <div class="menubar">
        <div class="subpage_menutitle introbg">
            <h2>참여마당</h2>
            <p>단순한 스트리트마켓이 아니다!글로벌하게 먹고, 마시고, 즐길 수 있는 대한민국 No.1 야시장</p>
        </div>
        <div class="subpage_list_menu">
            <ul>
                <li><a href="">공지사항</a></li>
                <li><a href="">행사안내</a></li>
                <li><a href="">현장스케치</a></li>
                <li><a href="">언론보도</a></li>
                <li><a href="">문의 및 제안</a></li>
                <li><a href="">입점신청</a></li>
            </ul>
        </div>
    </div>
     <!-- 섹션2 야시장  타이틀,게시판시작 -->
     <section class="subpage_cont w1100">
        <div class="subpage_con_title">
            <h1>현장스케치 수정</h1>
            <ul>
                <li class="homepage"></li>
                <li class="location">참여마당</li>
                <li class="location">현장스케치<li>
                <li class="location">수정<li>
            </ul>
        </div>
        <!-- 현장스케치 수정 컨텐츠 시작 -->
        <div class="noti_regis_wrap">
            <form action="/photoretouch" method="post" enctype="multipart/form-data">
                <div class="regis_title">
                    <input type="hidden" name="id" value="<%=row.id%>">
                    <label>제목</label>
                    <ul class="regis_title_con">
                        <li class="important_box"><input type="checkbox" name="impo" value="중요">&nbsp;&nbsp;중요</li>
                        <li class="reg_tit_box"><input type="text" name="title" value="<%=row.galleryTitle%>"></li>
                    </ul>
                </div>
                <div class="regis_exposure">
                    <label>메인노출</label>
                    <ul class="regis_exposure_con">
                        <li><input type="checkbox" name="exposure" value="설정함">&nbsp;&nbsp;설정함</li>
                    </ul>
                </div>
                <div class="regis_author">
                    <label>작성자</label>
                    <ul class="regis_author_con">
                        <li><input type="text" name="author" value="<%=row.author%>"></li>
                    </ul>
                    <label>비밀번호</label>
                    <ul class="regis_author_con">
                        <li><input type="text" name="authorpw"></li>
                    </ul>
                </div>
                <div class="regis_con">
                    <label>사진</label>
                    <ul class="regis_file_box">
                        <li><input name="imgfile" type="file"></li>
                    </ul>
                </div>
                <div class="regis_con">
                    <label>내용</label>
                    <ul class="regis_con_box">
                        <li><textarea name="photocon" id="" ><%=row.galleryCon%></textarea></li>
                    </ul>
                </div>
                <div class="regis_sub_btn">
                    <button type="submit">수정하기</button>
                </div>
            </form>
        </div>
    </section>
</main>