<main>
    <!-- 섹션1 메뉴 타이틀,메뉴바 시작 -->
    <div class="menubar">
        <div class="subpage_menutitle introbg">
            <h2>야시장안내</h2>
            <p>단순한 스트리트마켓이 아니다!글로벌하게 먹고, 마시고, 즐길 수 있는 대한민국 No.1 야시장</p>
        </div>
        <div class="m_subpage_list_tit">
            <p>매대위치</p>
        </div>
        <div class="subpage_list_menu">
            <ul>
                <li><a href="/introsub">야시장안내</a></li>
                <li><a href="/locationsub">매대위치</a></li>
                <li><a href="/direction">오시는길</a></li>
            </ul>
        </div>
    </div>
     <!-- 섹션2 야시장 공지사항 타이틀,게시판시작 -->
     <section class="subpage_cont w1100 sub_p60">
        <div class="subpage_con_title">
            <h1>매대 등록</h1>
            <ul>
                <li class="homepage"></li>
                <li class="location">야시장소개</li>
                <li class="location">매대위치<li>
                <li class="location">등록<li>
            </ul>
        </div>
        <!-- 매대 등록 컨텐츠 시작 -->
        <div class="sellerregis_wrap">
            <form action="/sellerinfo" method="post" enctype="multipart/form-data">
                <div class="type_txt">
                    <p>매대명</p>
                    <input type="text" name="storename">
                </div>
                <div class="type_txt">
                    <p>메뉴</p>
                    <input type="text" name="menu">
                </div>
                <div class="type_txt">
                    <p>메뉴별가격</p>
                    <input type="text" name="menuprice">
                </div>
                <div class="type_txt">
                    <p>추천메뉴</p>
                    <input type="text" name="recomenu">
                </div>
                <div class="type_file">
                    <p>매대사진</p>
                    <input type="file" multiple name="storeimg">
                </div>
                <div class="type_txt">
                    <p>매대소개</p>
                    <textarea name="storeintro" id=""></textarea>
                </div>
                <div class="regis_sub_btn">
                    <button type="submit">등록하기</button>
                </div>
            </form>
        </div>
    </section>
</main>