/* 공통 */
.p60 {
    /* 좌우패딩 60px */
    padding: 0 60px;
    box-sizing: border-box;
}

.w1100 {
    width: 1100px;
    margin: 0 auto;
}

body {
    width: 100%;
    overflow-x: hidden;
}

/* 헤더시작 */


header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* 로고 */
.h_logo>a>img {
    height: 80px;
}

/* 로그인 박스, 이미지 */
.h_login {
    display: flex;
    align-items: center;
}

.h_login>img {
    width: 40px;
}

.login_box {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding: 10px 25px;
    box-sizing: border-box;
    background-color: #ED636D;
    border-radius: 20px;
    right: -160px;
    opacity: 0;
    transition: right 0.5s, opacity 0.5s
}

.active {
    opacity: 1;
    right: 140px;
}

/* gnb메뉴 */
.gnb {
    /* width: 80%; */
    display: flex;
    justify-content: center;
}

.gnb>ul {
    display: flex;
    align-items: center;
}

.gnb>ul>li {
    margin: 0 30px;
    box-sizing: border-box;
    position: relative;
}



.gnb>ul>li>a {
    font-size: 18px;
    font-weight: bold;
}

.gnb>ul>li>a::after {
    position: absolute;
    top: 62px;
    left: 50%;
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #ED636D;
    transition: 0.5s;
    transform: translateX(-50%);
}

.gnb>ul>li>a:hover::after {
    width: 100%;
}

/* lnb,bng,bg 시작 */
.lnb {
    display: none;
    position: absolute;
    top: 100px;
    width: 100%;
    height: 0;
    z-index: 98;
}

.lnb>li {
    white-space: nowrap;
}

.lnb>li>a {
    font-size: 15px;
    color: #555;
    line-height: 40px;
}

.gnb_bg {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    height: 0;
    background-color: #fff;
    background-image: url(../img/bg_main_section01.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: height 0.5s;
    z-index: 98;
}

/* 모바일 메뉴 */
.m_menu_btn {
    display: none;
    position: absolute;
}

.m_menu {
    display: none;
    position: absolute;
    z-index: 999;
    right: 0;
    transform: translateX(100%);
    width: 250px;
    height: 100%;
    transition: all 1s;
}

.m_menu_on {
    transform: translateX(0);
    background-color: #efefef;
}

.m_nav_title {
    padding: 20px 0;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    background-color: #947759;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.m_nav_title>img {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
}

.m_menus_title {
    display: block;
    padding: 20px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: bold;
    background-image: url(../img/arrow_b.gif);
    background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 50%;
    border-bottom: 1px solid #e1e1e1;
}

.m_menus {
    display: none;
    background-color: #f5f5f5;
}

.m_menus_title_on {
    display: block;
}

.m_menus>li>a {
    display: block;
    padding: 15px 0;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid #e1e1e1;
    background-image: url(../img/icon_mmenu.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 50%;
}

.m_menus>li:nth-child(1) {
    border: 0;
}


.mm_page_blocker {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: 0.9;
    z-index: 998;
}

/* 메인시작 */

/* 메인비주얼 시작 */
.main_visual {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.main_visual_slides {
    width: 100%;
    position: relative;
    left: 0;
    opacity: 1;
}

.mv_slide {
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    transition: opacity 1s;
}

.mv_bg1 {
    background-image: url(../img/main_b0.jpg);
}

.mv_bg2 {
    position: absolute;
    top: 0;
    background-image: url(../img/main_b4.jpg);
    opacity: 0;
}

.mv_bg3 {
    position: absolute;
    top: 0;
    background-image: url(../img/main_b5.jpg);
    opacity: 0;
}

/* 피그네이션 버튼  */
.mv_btn_wrap {
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
    z-index: 999;
}

.mv_btn_wrap>li {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    border: 1px solid #fff;
}

.mv_btn_wrap>li:nth-child(2) {
    margin: 20px 0;
}

.mv_btn {
    transition: background-color 0.5s;
}

.mv_btn_active {
    background-color: #fff;
}






/* 섹션1 공지,행사안내 섹션 */
.pont20 {
    font-size: 20px;
    font-weight: bold;
}

.pont14 {
    font-size: 14px;
}

.pont12 {
    font-size: 12px;
}

/* 공통 */

.sec1_mboard {
    padding: 80px 0;
    box-sizing: border-box;
}

.mboard_inner {
    display: flex;
}

/* 공지사항 */
.notice {
    width: 50%;
    height: 260px;
    background-color: #373131;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notice>h1 {
    color: #ffffff;
    padding-left: 40px;
    box-sizing: border-box;
    background-image: url(../img/icon_notice01.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 30px;
}

.notice>ul>li>a {
    color: #ffffff;
}

.notice>ul>li>a:hover {
    border-bottom: 1px solid #ffffff;
}

.n_cont>li:nth-child(2) {
    margin: 25px 0;
}

.n_more {
    color: #ffffff;
    display: flex;
    justify-content: flex-end;
    padding-right: 17px;
    box-sizing: border-box;
    background-image: url(../img/btn_more_w.png);
    background-repeat: no-repeat;
    background-position: right 0;
}


/* 행사안내 */
.e_info {
    width: 50%;
    height: 260px;
    margin-top: 50px;
    background-color: #EEF4F4;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.e_info>h1 {
    color: #000000;
    padding-left: 40px;
    box-sizing: border-box;
    background-image: url(../img/icon_mboard02.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 30px;
}

.e_info>ul>li>a {
    color: #000000;
}

.e_info>ul>li>a:hover {
    border-bottom: 1px solid #000000;
}

.info_cont>li:nth-child(2) {
    margin: 25px 0;
}

.info_more {
    color: #000000;
    display: flex;
    justify-content: flex-end;
    padding-right: 17px;
    box-sizing: border-box;
    background-image: url(../img/btn_more_bk.png);
    background-repeat: no-repeat;
    background-position: right 0;
}


/* 섹션2 시장안내 메뉴 섹션 */
.sec2_menulist {
    width: 100%;
    height: 600px;
    background: url(../img/bg_busi_box.gif) repeat-x 0 bottom;
    margin-bottom: 80px;
}

/* 메뉴 */
.menulist_inner>ul {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menulist_inner>ul>li {
    width: calc((100% - 60px)/4);
    height: 340px;
    box-shadow: 20px 20px 20px rgb(0 0 0 / 20%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.menu1 {
    background-image: url(../img/menu1-1.jpg);
}

.menu2 {
    background-image: url(../img/menu2-2.jpg);
}

.menu3 {
    background-image: url(../img/menu3-3.jpg);
}

.menu4 {
    background-image: url(../img/menu4-4.jpg);
}

.under_bg {
    width: 100%;
    height: inherit;
    background-image: url(../img/Rectangle\ 27.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.under_bg>a {
    width: 100%;
    height: inherit;
    display: block;
    padding: 0 30px;
    box-sizing: border-box;
    position: relative;
}

.under_bg>a:hover .mask {
    opacity: 1;
}

.under_bg>a:hover p {
    color: #ffffff;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: 340px;
    opacity: 0;
    transition: all .3s;
    z-index: 10;
    background: url(../img/busi_mask.png) no-repeat;
}

.under_bg>a:hover {
    color: #ffffff;
}

.menu_txt_wrap {
    position: absolute;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 12;
}

.menu_txt_wrap>h1 {
    padding-top: 30px;
    box-sizing: border-box;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

.menu_txt_wrap>h1::after {
    margin-top: 15px;
    content: '';
    display: block;
    width: 30px;
    height: 2px;
    background-color: #ffffff;
}

.menu_txt_wrap>p {
    font-size: 18px;
    font-weight: lighter;
    padding-bottom: 15px;
    color: #222222;
}

/* 사이드 메뉴 시작 */

.side_menu {
    position: absolute;
    top: 390px;
    left: 0;
    display: flex;
    align-items: center;
}

.s_m_title {
    width: 20%;
    padding-left: 30px;
    box-sizing: border-box;
}

.s_m_title>h1 {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.s_m_more {
    font-size: 15px;
    padding-right: 30px;
    box-sizing: border-box;
    background-image: url(../img/btn_more.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: right center;
}

.s_m_con {
    width: 80%;
    display: flex;
}

.s_m_con>li {
    width: 50%;
    padding: 0 50px;
}

.list1 {
    border-right: 1px solid rgba(0, 0, 0, 20%);
}

.list2 {
    border-right: 1px solid rgba(0, 0, 0, 20%);
}

.list2:nth-child(2) {
    border: 0;
}

.list3 {
    border-right: 1px solid rgba(0, 0, 0, 20%);
}

.list4 {
    border-right: 1px solid rgba(0, 0, 0, 20%);
}

.s_m_con>li>strong {
    display: block;
    padding: 20px 0;
    box-sizing: border-box;
    font-size: 21px;
}

.s_m_con>li>p {
    font-size: 15px;
    color: #737373;
    padding-bottom: 20px;
    box-sizing: border-box;
}

#side_menu2 {
    display: none;
}

#side_menu3 {
    display: none;
}

#side_menu4 {
    display: none;
}


/* 섹션3 포토 갤러리 시작 */
.sec3_photo_wrap {
    overflow: hidden;
    position: relative;
}

.photo_title_box {
    background-color: #ae8c68;
    padding: 60px 40px 30px;
    box-sizing: border-box;
    position: absolute;
    left: 25%;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    z-index: 999;
}

.photo_title_box>h1 {
    color: #fff;
    font-weight: bold;
    font-size: 23px;
}

.photo_title_box>h4 {
    color: #d7c6b4;
    font-size: 15px;
}

.p_more>a {
    padding-right: 30px;
    box-sizing: border-box;
    background-image: url(../img/btn_mphoto_more.png);
    background-position: right;
    background-repeat: no-repeat;
    color: #fff;
    font-size: 15px;
}

.p_slides {
    display: flex;
    width: 100%;
    position: relative;
    left: 0;
    transition: left 0.4s ease-in-out;
}

.p_slide {
    position: relative;
    width: 25%;
    height: 275px;
    flex-shrink: 0;
}

.p_slide>img {
    width: 100%;
    height: 100%;
    -webkit-user-drag: none;
}

.p_btn_wrap {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.slide_btn>img {
    display: block;
}

/* 섹션 4 서비스 메뉴 시작 */
.service_menu {
    margin: 80px 0;
}

.service_list {
    display: flex;
}

.service_list>li {
    width: 25%;
}

.service_list>li>a {
    display: block;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
}

.se_li1 {
    background-image: url(../img/videocall.png);
}

.se_li2 {
    background-image: url(../img/tourist.png);
}

.se_li3 {
    background-image: url(../img/road.png);
}

.se_li4 {
    background-image: url(../img/interview.png);
}

.service_list>li>a>strong {
    display: block;
    padding-top: 90px;
    padding-bottom: 15px;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.service_list>li>a>p {
    font-size: 12px;
    color: #888;
}




/* 섹션5 배너 시작 */
.banner {
    width: 100%;
    background-image: url(../img/bg_sns.gif);
    background-size: contain;
}

.banner_wrap {
    padding: 33px 0;
    box-sizing: border-box;
    position: relative;
}

.b_img {
    position: absolute;
    bottom: 0;
}

.b_img>img {
    display: block;
    width: 70px;
}

.b_con_wrap {
    width: 100%;
    padding-left: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.b_title_box>p {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}

.b_app_box>a {
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    font-size: 18px;
    color: #fff;
}






/* 푸터시작 */
footer {
    background-color: #EEF4F4;
    width: 100%;
    text-align: center;
}

.f_wrap {
    padding: 100px 0;
    box-sizing: border-box;
}

/* 반응형 */
@media(max-width:1100px) {

    /* 헤더 */
    .w1100 {
        width: 100%;
        margin: 0 auto;
    }

    .p60 {
        /* 좌우패딩 60px */
        padding: 0 15px;
        box-sizing: border-box;
    }

    .gnb {
        display: none;
    }

    .h_logo {
        margin: 0 auto;
    }

    .h_logo>a>img {
        height: 70px;
    }

    .h_login {
        position: absolute;
        left: 15px;
    }

    .h_login>img {
        width: 40px;
    }

    .login_box {
        display: none;
    }

    .m_menu {
        display: block;
    }

    .m_menu_btn {
        position: absolute;
        right: 15px;
        display: block;
    }

    .m_menu_btn>img {
        width: 30px;
    }

    /* 메인비쥬얼 시작 */
    .mv_slide {
        width: 100%;
        height: 400px;
    }


    /* 섹션3 포토 갤러리 시작 */
    .photo_title_box br {
        display: none;
    }

    /* 섹션5 배너 시작 */
    .banner {
        padding: 0 20px;
        box-sizing: border-box;
    }
}

@media(max-width:736px) {

    /* 헤더 */
    header {
        height: 70px;
    }

    .h_logo>a>img {
        height: 60px;
    }

    .h_login>img {
        width: 30px;
    }

    .m_menu_btn>img {
        width: 30px;
    }

    /* 메인비쥬얼 */
    .mv_slide {
        width: 100%;
        height: 350px;
    }

    /* 공지사항 공통 */
    .pont20 {
        font-size: 12px;
        font-weight: bold;
    }

    .pont14 {
        font-size: 13px;
    }

    .pont12 {
        font-size: 12px;
    }

    /* 공지사항 */
    .sec1_mboard {
        padding: 0;
    }

    .mboard_inner {
        display: flex;
        flex-wrap: wrap;
    }

    .notice {
        width: 100%;
        height: 230px;
        background-color: #373131;
    }

    .n_more {
        padding-top: 20px;
        box-sizing: border-box;
        background-position: bottom right;
    }

    .e_info {
        width: 100%;
        height: 230px;
        background-color: #EEF4F4;
        margin-top: 0;
    }

    .info_more {
        padding-top: 20px;
        box-sizing: border-box;
        background-position: bottom right;
    }

    /* 섹션2 시장안내 메뉴섹션 */
    .sec2_menulist {
        margin-bottom: 30px;
        padding: 20px 20px;
        box-sizing: border-box;
        width: 100%;
        height: auto;
        background: url(../img/bg_busi_box.gif);
    }

    .menulist_inner>ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }

    .menulist_inner>ul>li {
        width: 50%;
        height: 150px;
    }

    .side_menu {
        width: 0;
        height: 0;
        overflow: hidden;
    }

    .menu_txt_wrap {
        width: 100%;
        text-align: center;
    }

    .menu_txt_wrap>h1 {
        font-size: 17px;
        padding-top: 0;
        line-height: 150px;
    }

    .menu_txt_wrap>h1::after {
        display: none;
    }

    .menu_txt_wrap>p {
        display: none;
    }

    .under_bg {
        height: 100%;
        background-color: rgba(0, 0, 0, 50%);
        background-image: none;
    }

    .under_bg>a {
        padding: 0;
    }

    .mask {
        display: none;
    }

    /* 섹션3 포토 갤러리 시작 */
    .photo_title_box {
        left: 0;
        width: 50%;
    }

    .p_slide {
        width: 50%;
    }

    .photo_title_box>h1 {
        color: #fff;
        font-weight: bold;
        font-size: 17px;
    }

    .photo_title_box>h4 {
        font-size: 12px;
    }

    .photo_title_box br {
        display: none;
    }

    .p_more>a {
        padding-right: 30px;
        box-sizing: border-box;
        background-image: url(../img/btn_mphoto_more.png);
        background-position: right;
        background-repeat: no-repeat;
        color: #fff;
        font-size: 12px;
        background-size: 12px;
    }

    /* 섹션 4 서비스 메뉴 시작 */
    .service_list {
        display: flex;
        flex-wrap: wrap;
    }

    .service_list>li {
        width: 50%;
    }

    .se_li3 {
        margin-top: 50px;
    }

    .se_li4 {
        margin-top: 50px;
    }

    .service_menu {
        margin: 40px 0;
    }

    .service_list>li>a>strong {
        display: block;
        padding-top: 90px;
        padding-bottom: 15px;
        color: #000000;
        font-size: 13px;
        font-weight: bold;
    }

    .service_list>li>a>p {
        display: none;
    }

    /* 섹션5 배너 시작 */
    .banner_wrap {
        padding: 15px 0;
        box-sizing: border-box;
    }

    .b_con_wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .b_app_box {
        margin-top: 20px;
    }

    .b_img {
        /* top: 5%; left: 50%;
    transform: translateX(-50%); */
    }

    .b_img>img {
        display: block;
        width: 70px;
    }
}


@media(max-width:375px) {

    /* 메인비쥬얼 */
    .mv_slide {
        width: 100%;
        height: 300px;
    }

}