/* <!-- 현장스케치 리스트 시작 --> */
.photolist_board{
    margin-bottom: 20px;
    padding: 0 50px;
    box-sizing: border-box;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}
.photolist_post_wrap{
    display: flex;
    flex-wrap: wrap;
}
.photolist_post_wrap>li{
    width: calc(33.333%);
    padding: 30px 10px;
    box-sizing: border-box;
}
.photolist_post_wrap>li>div:nth-child(2){
    padding: 10px 0;
}


.photolist_post_img>a{
    display: block;
    width: 100%;
}
.photolist_bg{
    width: 100%; padding-top: 90%;
    background-position: center center;
    background-size: cover;
}

.photolist_post_tit{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.photolist_post_tit>a{
    font-size: 20px;
    color: #555;
}

.photolist_post_subtit{
    font-size: 18px;
    color: #818181;
}
.photolist_post_subtit>span>strong{
    font-weight: bold;
}


