/* 스와이퍼 */
.swiper{
    position: static;
}
/* 매대상세정보 컨텐츠 시작  */
.seller_detail .seller_con {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    background-color: #ae8c68;
}
/* 왼쪽 갤러리 */
.seller_detail .seller_con>.sell_gallery {
    width: calc(50% - 25px);
    position: relative;
}


.seller_detail .seller_con>.sell_gallery .sell_img {
    width: 100%;
    padding-top: 90%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.seller_detail .seller_con>.sell_gallery .sell_img.img1 {
    background-image: url(../img/menu1.jpg);
}

.seller_detail .seller_con>.sell_gallery .sell_img.img2 {
    background-image: url(../img/menu2.jpg);
}

.seller_detail .seller_con>.sell_gallery .sell_img.img3 {
    background-image: url(../img/menu3.jpg);
}

.seller_gallery .swiper-slide {
    margin-top: 20px;
    opacity: 0.4;
}

.seller_gallery .swiper-slide-thumb-active {
    border: 3px solid #fff;
    box-sizing: border-box;
    opacity: 1;
}
/* 왼쪽 갤러리 버튼 */
.seller_detail .sell_btn_wrap{
    width: 100%;
    position: absolute;
    top: 35%;
    z-index: 9999;
    display: flex;
    justify-content: space-between;
}
.seller_detail .sell_btn_wrap>.sell_pre_btn>img{
    margin-left: -50%;
}
.seller_detail .sell_btn_wrap>.sell_next_btn>img{
    margin-left: 50%;
}
/* 오른쪽 내용 */
.seller_detail .seller_con>.sell_txt {
    width: calc(50% - 50px);
    color: #fff;
}

.seller_detail .sell_txt>div{
    margin-bottom: 20px;
}
.seller_detail .sell_txt>.line{
    width: 100%;
    height: 2px;
    background-color: #fff;
}
.seller_detail .store_food>p{
    height: 200px;
}


.seller_detail .sell_txt_body{
    border-top: 1px solid #e0e0e0;
}
.seller_detail .sell_txt_body>li{
    display: flex;
    padding: 15px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #e0e0e0;
}
.seller_detail .sell_txt_body>li>h3{
    text-align: center;
    flex-grow: 0;
    width: 20%;
    background-image: url(../img/tab_split.png);
    background-repeat: no-repeat;
    background-position: center right;
    font-weight: 500;
}
.seller_detail .sell_txt_body>li>p{
    width: 80%;
    padding-left: 12px;
    box-sizing: border-box;
}

/* 카카오 api 맵 */

.seller_detail #api_map{
    width: 100%;
    height: 500px;
}


